<header>
	{{partial 'navbar'}}
</header>

<main>
	<div class="section index-banner">
	{{outlet}}
	</div>
</main>

{{partial 'footer'}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}