<div class="container">
	<div class="row">
	  <div class="col s12 m12">
	    <h1 class="header">{{props.title}}</h1>
	    {{props.subtitle}}
	  </div>
	</div>
	<div class="row">
		<div class="col l12 m12 s12">
			<div class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3786.5351989445826!2d-48.45536964205856!3d-1.4225241177927397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48b8c72e97187%3A0x2b02a4b151c841bc!2sSecretaria+de+Estado+de+Comunica%C3%A7%C3%A3o!5e0!3m2!1sen!2sbr!4v1475280319717" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12 m12 s12">
			{{md-btn text='Adicionar aos contatos'
			icon='mdi-communication-contacts'
			action='addToContacts'
			buttonType="flat" 
			class='indigo white-text'}}
		</div>
	</div>
</div>
{{outlet}}